browser open

# bookmark-cmd "/Users/edoardo/bookmark.sh"
# http://www.newsbeuter.org/doc/newsbeuter.html

save-path ~/Downloads

bind-key j next
bind-key k prev
bind-key J next-feed
bind-key K prev-feed
bind-key j down article
bind-key k up article
bind-key J next article
bind-key K prev article

# solarized color scheme for newsbeuter <http://www.newsbeuter.org/>
# more on solarized: http://ethanschoonover.com/solarized
color listnormal color244 color234
color listfocus  color166 color235
color info       color136 color235
color background color244 color234
color article    color244 color234

always-display-description true
auto-reload yes
download-full-page yes
mark-as-read-on-hover yes
refresh-on-startup yes
reload-threads 3
max-items 0
articlelist-format "%4i %f %D  %?T?|%-17T| ?%t"
cleanup-on-quit no
confirm-exit yes
history-limit 0
keep-articles-days 0

# feedlist-format "%-35t %?d?- %-35d&? %> %u"
# articlelist-format "%-4i %f %t"
# feedlist-title-format "%N %V %> %u feeds with new articles"
# articlelist-title-format "%T"
# html-renderer "w3m -dump -T text/HTML -cols 72"
# highlight article "^(Feed|Title|Author|Link|Date):.*" yellow default bold
# notify-format  "%d %n %f new articles (%n unread articles, %f unread feeds)"

# auto-reload yes
# browser firefox
# cleanup-on-quit yes
# download-path "/home/moparx/downloads/podcasts"
# feed-sort-order title-dec
# max-downloads 4
# notify-always yes
# notify-format "newsbeuter: %n unread articles within %f unread feeds"
# notify-program notify-send
# notify-xterm yes
# notify-screen yes
# player mplayer
# refresh-on-startup yes
# reload-time 20
# reload-threads 2
# #show-read-articles no
# show-read-feeds no
#
#
# # binds ----------------------------------------------------------------
#
# unbind-key t
# unbind-key R
# bind-key \ reload-all
# bind-key "RIGHT" select-tag
# bind-key "SPACE" open
#
#
# # hide articles matching: ---------------------------------------------
#
# ignore-article "*" "title =~ \"Sponsor\""
# ignore-article "*" "title =~ \"Advertisement\""
# ignore-mode "display"
#
#
# # formatting and colorization ------------------------------------------
#
# articlelist-format "%4i %f %D  %?T?|%-17T| ?%t"
#
# highlight feedlist    "^  *[0-9]+  *N  "                    color156 default
# highlight articlelist "^  *[0-9]+  *N  "                    color156 default
#
# highlight article     "(^Feed:.*|^Title:.*|^Author:.*)"     color75  default
# highlight article     "(^Link:.*|^Date:.*)"                 color75  default
# highlight article     "^Podcast Download URL:.*"            color71  default
# highlight article     "^Links:"                             white    color240 underline
# highlight article     "\\[[0-9][0-9]*\\]"                   color72  default  bold
# highlight article     "\\[image [0-9][0-9]*\\]"             color72  default  bold
# highlight article     "\\[embedded flash: [0-9][0-9]*\\]"   color72  default  bold
# highlight article     ":.*\\(link\\)$"                      color74  default
# highlight article     ":.*\\(image\\)$"                     color74  default
# highlight article     ":.*\\(embedded flash\\)$"            color74  default
#
# color listnormal                                            white    default
# color listfocus                                             default  color240
# color info                                                  default  color240
#